<link rel="icon" href="https://i.imgur.com/1KRSu5o.png" type="image/x-icon">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://paradox-site.popqa17.repl.co">Paradox</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i> Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/commands">Commands</a>
        </li>
	<li class="nav-item">
          <a class="nav-link" href="/me">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>