<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0800246b9b.js" crossorigin="anonymous"></script>
<body style = "height: 100%; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;background-image:url(https://i.imgur.com/Lz2tRGn.png); background-color: black; color: white; text-align: center;">
{% block content %}
	{% include 'header.html' %}
{% endblock %}
<div style = "margin: 10%">
	<style>
/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
</style>
<div class = "row">
<div class = "col">
  <img src = {{avatar}} onerror="this.onerror=null; this.src='https://i.imgur.com/RjafEmC.gif'"style = "width: 200px; height: 200px; border-radius: 100%">
  <br>
  <h2> {{username}}</h2>
  <br>
</div>
<div class = "col">
  <h3> Actions </h3>
  <br>
  <br>
    <a href = "/me/guilds" style = "width: 100px;" class = "btn btn-outline-primary"> <i class="fas fa-list"></i> Guilds </a>
  <br><br><a href = "/verify" style = "width: 100px;"class = "btn btn-outline-success"><i class="far fa-check-circle"></i> Verify </a><br><br><a href = "/logout"style = "width: 100px;" class = "btn btn-outline-danger"> <i class="fas fa-sign-out-alt"></i> Logout </a>
</div>
</div>
</div>
{% include 'footer.html' %}
